<%
if(page.layout !== 'false'){
%>

<%- partial('_partial/head') %>

<body>
  <header id="header" class="inner"><%- partial('_partial/header') %></header>
  <div id="content" class="inner">
    <div id="main-col" class="alignleft"><div id="wrapper"><%- body %></div></div>
    <aside id="sidebar" class="alignright"><%- partial('_partial/sidebar') %></aside>
    <div class="clearfix"></div>
  </div>
  <footer id="footer" class="inner"><%- partial('_partial/footer') %></footer>
  <%- partial('_partial/after_footer') %>
<%- partial('_partial/math-jax')%>
<div class="bottom_tools">
  <div class="qr_tool" title="微博关注我">二维码</div>
  <a id="scrollUp" href="javascript:;" title="飞回顶部"></a>
  <img class="qr_img" src="../static/images/weibo_qrcode.png">
</div>
</body>
</html>

<%}else{ %>

<%- page.content %>
<%};%>
<a href="https://github.com/giscafer" target='_blank'><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://giscafer.github.io/static/img/forkme_left_gray_6d6d6d.png" title="Fork me on GitHub" alt="Fork me on GitHub" data-canonical-src=""https://s3.amazonaws.com/github/ribbons/forkme_left_gray_6d6d6d.png"></a>
